<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="topnav" id="mTopnav">
		<a href="javascript:void(0);" class="icon" onclick="mMenu()">&#9776;</a>
		<a href="{{ site.github.url }}">Home</a>
		<div class="dropdown">
			<button class="dropbtn">How To
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="{{ site.github.url }}/general/">General</a>
				<a href="{{ site.github.url }}/apk-signing/">Signing APK's</a>
			</div>
		</div>
		<a href="{{ site.github.url }}/downloads/">Downloads</a>
		<a href="https://github.com/apk-editor/APK-Explorer-Editor" target="_blank">Source Code</a>		
		<a href="{{ site.github.url }}/support/">Support AEE</a>
		<a href="https://poeditor.com/join/project?hash=QztabxONOp" target="_blank">Translations</a>
		<a href="{{ site.github.url }}/contacts/">Contacts</a>		
	</div>
<p style="margin-bottom:40px;"></p>
<h1>{{ site.title | default: site.github.repository_name }}</h1>
